.QDockWidget
{
    titlebar-close-icon: url(:/Application/titlebar-close.svg);
    titlebar-normal-icon: url(:/Application/titlebar-popout-small.svg);
}

.QDockWidget::title
{
    background-color: #232327;
    border-bottom: 1px solid #34343A;
    padding: 2px 4px;
}

.QDockWidget::close-button,
.QDockWidget::float-button
{
    border: none;
    background-color: transparent;
}

QAbstractScrollArea
{
    margin: 0;
}