.QDockWidget
{
    titlebar-close-icon: url(:/Application/titlebar-close.svg);
    titlebar-normal-icon: url(:/Application/titlebar-popout-small.svg);
}

.QDockWidget::title
{
    background-color: #2d2d2d;
}

.QDockWidget::close-button,
.QDockWidget::float-button
{
    border: none;
    background-color: transparent;
}

QAbstractScrollArea
{
    margin: 0;
}