/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

ActionWidget #LinkButton
{
    qproperty-flat: true;
}

AzAssetBrowserWindow #previewWidgetWrapper
{
    background-color: #1a1a1d;
    border: 0 none;
}

AzAssetBrowserWindow #searchButtonContainer
{
    background-color: #1a1a1d;
    border: 0 none;
}

AzAssetBrowserWindow #m_separator
{
    background-color: #1a1a1d;
}

/* Component Palette Widget */
AzToolsFramework--ComponentPaletteWidget
{
    border: 1px solid #34343A;
    background-color: #1a1a1d;
}

AzToolsFramework--ComponentPaletteWidget > QTreeView
{
    background-color: #1a1a1d;
}

AzToolsFramework--PropertyRowWidget[canBeReordered="true"]  QLabel#Name
{
    font-weight: bold;
}

/* Style for visualizing property values overridden from their prefab values */
AzToolsFramework--PropertyRowWidget[IsOverridden=true] #Name QLabel,
AzToolsFramework--ComponentEditorHeader #Title[IsOverridden="true"]
{
    font-weight: bold;
    color: #F5A623;
}

/* Asset Editor */
Ui--AssetEditorHeader
{
    margin: 0px;
    padding: 0px;
}

Ui--AssetEditorHeader *
{
    height: 16px;
    background-color: #1a1a1d;
}

Ui--AssetEditorHeader #Background
{
    margin: 0px;
    padding: 2px 7px 3px 7px;
    border: 1px solid transparent;
    border-bottom: none;
    background-image: none;
    background-color: #1a1a1d;
}

Ui--AssetEditorHeader #Name
{
    height: 16px;
    font: italic;
    background-color: transparent;
}

Ui--AssetEditorHeader #Location
{
    height: 16px;
    font: italic;
    background-color: transparent;
}

#AssetEditorWidgetPropertyEditor AzToolsFramework--PropertyRowWidget[isTopLevel="true"]
{
    qproperty-appendDefaultLabelToName:1;
}

#AssetEditorWidgetPropertyEditor AzToolsFramework--PropertyRowWidget[isTopLevel="false"]
{
    qproperty-appendDefaultLabelToName:0;
}

#AssetEditorWidgetPropertyEditor AzToolsFramework--PropertyRowWidget[getLevel="1"][hasChildRows="true"]
, #AssetEditorWidgetPropertyEditor AzToolsFramework--DPERowWidget[getLevel="2"][hasChildRows="true"]
{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Set the Script Canvas search highlight color */
GraphCanvas--NodePaletteTreeView
{
    selection-background-color: rgba(255, 255, 255, 41);
}

AzQtComponents--TabWidget#ScriptCanvasTabs
{
    height: 32px;
    margin: 0 2px;
    max-height: 32px;
}

/* Save Slice Override Window */
AzToolsFramework--SlicePushWidget QTreeView QLabel
{
    min-height: 14px;
}

AzToolsFramework--SlicePushWidget QWidget#WarningTopLine
{
    background-color: #F5A623
}

AzToolsFramework--SlicePushWidget QWidget#WarningBottomLine
{
    background-color: #5A5A60
}

AzToolsFramework--SlicePushWidget QTreeWidget#WarningTreeWidget::item:pressed
, AzToolsFramework--SlicePushWidget QTreeWidget#WarningTreeWidget::item:selected
{
    background-color: #1a1a1d;
}

/* Toolbar borders (Editor UI Window) */
EditorWindow QToolBar
{
    border-bottom: 2px solid #1a1a1d;
}

DockWidgetTitleBar #DockWidgetContextMenu
{
    qproperty-icon: url(:/Cards/img/UI20/Cards/menu_ico.svg);
    qproperty-iconSize: 24px 16px;
    qproperty-flat: true;
    margin: 0px;
    max-width: 24px;
    max-height: 16px;
}

#EMFX_Menu
{
    border-bottom-width: 2px;
    border-bottom-color: #1a1a1d;
    border-bottom-style: solid;
}

#EMFX_Menu QComboBox
{
    margin-right: 4px;
    margin-bottom: 2px;
}

PanelTitleBar
{
    border-top: 1px solid #1a1a1d;
}

/* Asset Editor */

#AssetEditorStatusBar
{
    border-top: 2px solid #1a1a1d;
}

/* Console and Python Console */

ConsoleTextEdit,
ConsoleTextEdit:hover,
ConsoleTextEdit:focus,
#SCRIPT_OUTPUT,
#SCRIPT_OUTPUT:hover,
#SCRIPT_OUTPUT:focus
{
    margin: 0;
    margin-top: 6px;
    background-color: #1a1a1d;
    border-radius: 0px;
    border-width: 0px;
    border-color: #34343A;
    border-style: solid;
}

QMenu {
    background-color: #1f1f22;
    margin: 3 5 5 5;
}

QMenu::item {
    color: #C9C9CE;
    font-size: 12px;
    padding-right: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

QMenu::item:selected {
    color: #4CAF50;
}

QMenu::item:disabled {
    color: gray;
}

QMenu::separator {
    height: 1px;
    background: #3A3A41;
    margin: 4px 5px 4px 5px;
}

QComboBox {
    height: 20px;
    border-radius: 0px;
    color: #C9C9CE;
    padding: 2px 8px 2px;
    border: 1px solid #34343A;
    background-color: #1f1f22;
}

QComboBox:enabled:!focus {
    background-color: #1f1f22;
    border: 1px solid #34343A;
}

QComboBox:enabled:!focus:on {
    background-color: #1f1f22;
    border: 1px solid #4CAF50;
}

QComboBox:focus {
    background-color: #1f1f22;
    border: 1px solid #4CAF50;
}

QComboBox::drop-down {
    border: 0px;
    width: 18px;
}

QComboBox QListView {
    background-color: #1f1f22;
    color: white;
    font-size: 12px;
    outline: none;
    padding: 5 0 8 8;
    selection-color: #4CAF50;
    selection-background-color: #1f1f22;
    border: 1px solid #34343A;
}

QComboBox QListView::item {
    min-height: 17;
    color: white;
}

QComboBox QListView::item:selected {
    background-color: #1f1f22;
    color: #4CAF50;
}
